<!DOCTYPE html>
<html>

<head>

    <title>Need of computed Properties</title>

</head>
<body>
    
    <div id = "root">
        <h1>All tasks</h1>
        <ul>
           <!-- codition v-if="task.completed" -->
          <li v-for="task in tasks" v-text="task.description"></li>
      </ul>

        <h1>Incomplete Tasks</h1>
        <ul>
            <li v-for="task in incompleteTasks" v-text="task.description"></li>
        </ul>

        <h1>Completed Tasks</h1>
        <ul>
            <li v-for="task in completeTasks" v-text="task.description"></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#root',
            data:{
                tasks:[
                    {description: 'Go to Store', completed: true},
                    {description: 'Today practice', completed: false},
                    {description: 'Clear inbox', completed: false},
                    {description: 'Go to Store', completed: false},
                    {description: 'Make dinner', completed: false},
                    {description: 'clear room', completed: true}
                ]
            },
            computed:{
               incompleteTasks() {
                    return this.tasks.filter(task => ! task.completed);
               },
               completeTasks(){
                   return this.tasks.filter(task => task.completed);
               }
            }
        });
    
    
    </script>
</body>
</html>